<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.viict.eventsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Cliente.CL01LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cliente.CL04PrincipalClienteActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="facebook_app_id" />

        <activity android:name=".Cliente.CL02FormularioActivity" />
        <activity android:name=".Cliente.CL03RecuperarPasswordActivity" />
        <activity android:name=".Organizacion.ORG01ListaEventos" />
        <activity
            android:name=".Organizacion.MenuOrganizacion"
            android:label="@string/title_activity_menu_organizacion"
            android:parentActivityName=".Organizacion.ORG01ListaEventos"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.viict.eventsapp.Organizacion.ORG01ListaEventos" />
        </activity>
        <activity android:name=".Cliente.CL031RecuperarPasswordActivity" />
        <activity android:name=".Organizacion.ORG02CrearEventosDatosActivity" />
        <activity android:name=".Organizacion.ORGElEventoseRepite" />
        <activity android:name=".Organizacion.ORG02CrearEventosUbicacionActivity" />
        <activity android:name=".Organizacion.ORG02CrearEventosCrearEntradaActivity" />
        <activity android:name=".Organizacion.ORGOpciondeMasEnEntradaActivity" />
        <activity android:name=".Organizacion.ORG02CrearEventosFacturacionActivity" />
        <activity android:name=".Administrador.ADM01RegistrarOrganizacionActivity" />
        <activity android:name=".Organizacion.ORGLoginActivity" />
        <activity android:name=".Cliente.CL05ListaEventosActivity" />
        <activity android:name=".Cliente.CL06ListadeEventosDetalleActivity" />
        <activity android:name=".Cliente.CL07ListadeOrganizacionesActivity" />
        <activity android:name=".Cliente.CL08RecordarEventoActivity" />
        <activity android:name=".Cliente.CL09RecordatoriosActivity" />
        <activity android:name=".org_detalleOrganizacion" />
        <activity android:name=".cl_carritoCompra"></activity>
    </application>

</manifest>